.header-container {
    background-color: purple;
    height: 120px;
    text-align: center;
}

h1 {
    /* position: absolute; */
    /* margin: auto;
    text-align: center;
    align-items: center; */
    display: inline-block;
    vertical-align: middle;
    color: white;
}

